:root {
    --gray-100: hsl(0deg 0% 52% / 32%);
    --white-100: hsl(0deg 0% 100% / 1);
    --blue-100: hsl(175deg 74% 47% / 1);
    --green-100: hsl(149deg 37% 78% / 1);
    --yellow-100: hsl(48deg 98% 50% / 1);
    --pink-100: hsl(342deg 78% 70% / 1);
    --red-100: hsl(15deg 93% 48% / 1);
}
